# CLion
# Dossiers de compilation CLion (NE PAS VERSIONNER)
cmake-build-debug/
cmake-build-release/
CMakeFiles/
CMakeCache.txt

# Dossier de configuration CLion (spécifique à votre PC)
.idea/

# Exécutables (Windows)
*.exe
*.dll
*.pdb

# Fichiers systèmes
.DS_Store
Thumbs.db
# Fichiers temporaires
saves/